{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "Meact.createElement", // по умолчанию React.createElement
        "throwIfNamespace": false // по умолчанию равно true
      }
    ]
  ]
}
